<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wk.dao.FileDao">
    <insert id="addChapter">
        insert into chapters (bookId, chapterName, chapterPath) VALUES (#{bookId}, #{chapterName}, #{path})
    </insert>

    <select id="getKeywords" resultType="String">
        select keyword from keywords where keyword = #{keyword}
    </select>

    <insert id="addKeywords">
        insert into keywords (keywordId, keyword) VALUES (#{keywordId}, #{keyword})
    </insert>

    <insert id="addSimw2f">
        insert into simw2f (keywordId, chapterId, simValue) VALUES (#{keywordId}, #{chapterId}, #{simValue})
    </insert>

    <insert id="addSimw2w">
        insert into simw2w (keyword1Id, keyword2Id, simValue) VALUES (#{keyword1Id}, #{keyword2Id}, #{simValue})
    </insert>

    <select id="getKeyword" resultType="String">
        select keyword from keywords where keyword = #{searchWord}
    </select>
</mapper>