<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wk.dao.SearchDao">

<!--    <resultMap id="BookMap" type="com.wk.vo.Book">-->
<!--        <result column="id" property="bookId"/>-->
<!--        <result column="bookname" property="bookname"/>-->
<!--        <result column="author" property="author"/>-->
<!--        <result column="ISBN" property="isbn"/>-->
<!--        <result column="pressname" property="pressname"/>-->
<!--        <result column="keywords" property="keywords"/>-->
<!--        <result column="picture" property="picture"/>-->
<!--        <result column="file" property="file"/>-->
<!--    </resultMap>-->

    <select id="searchBookWithoutKeywords" resultType="com.wk.vo.Book">
        select * from book where bookname like concat('%',#{searchWord},'%') or author like concat('%',#{searchWord},'%') or ISBN like concat('%',#{searchWord},'%') or pressname like concat('%',#{searchWord},'%')
    </select>

    <select id="searchWithKeywords" resultType="com.wk.vo.Book">
        select * from book where match(keywords) against (#{searchWord})
    </select>

    <select id="getKeywordId" resultType="Integer">
        select keywordId from keywords where keyword = #{searchWord}
    </select>

    <select id="searchByKeywords" resultType="com.wk.model.SearchByKeyResult">
        select * from simw2f where keywordId = #{keywordId}
    </select>

    <select id="getRecommend" resultType="com.wk.model.RecommendInfo">
        select * from simw2w where keyword1Id = #{keywordId}
    </select>

    <select id="getKeywordById" resultType="String">
        select keyword from keywords where keywordId = #{keyword1Id}
    </select>

    <select id="getBookByBookId" resultType="com.wk.vo.Book">
        select * from book where bookId = #{bookId}
    </select>

    <select id="getBookIdByChapterId" resultType="Integer">
        select bookId from chapters where chapterId = #{chapterId}
    </select>
</mapper>